@footer-height: 30px;
// @footer-top-margin: 10px;

@list-width: 300px;
@list-item-vertical-padding: 10px;
@list-item-horizontal-padding: 15px;
@remove-button-width: 30px;

@active-item-border-color: lighten(@gray-light, 10%);
@active-item-bg-color: lighten(@gray-light, 20%);

@gray-lightest: lighten(@gray-base, 97%);

@score-padding-vertical: 2px;
@score-padding-horizontal: 4px;