.webs-list {
    .list-group;
    margin-bottom: 5px;
  
    .list-group-item {
        padding-top: @list-item-vertical-padding;
        padding-bottom: @list-item-vertical-padding;

        cursor: pointer;
  
        &.active {
            border-color: @active-item-border-color;
            background-color: @active-item-bg-color;
        }
    
        .score {
            float: right;
            padding: @score-padding-vertical @score-padding-horizontal;
            box-sizing: border-box;
            border-radius: 10px;
            color: white;
        }
    
        .loading .score {
            //background-color: @gray-light;

            .magnify-loader {
                display: inline-block;

                width: 40px;
                height: 40px;

                margin-top: -@list-item-vertical-padding;

                background-image: url('../img/magnify-loader.gif');
                background-size: cover;
            }
        }
        
        // in case of error, there is error message in score box
        .error .score {
            @err-flag-width: 16px;

            width: @err-flag-width;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 1px;
            
            border-radius: 0 5px 5px 0;
            background-color: @brand-danger;

            cursor: default;
            white-space: pre;

            &:before {
                display: inline-block;
                width: @err-flag-width - (2 * @score-padding-horizontal);
                height: 100%;

                margin-right: 5px;

                content: '!';
                text-align: center;
                font-weight: bold;
            }

            &:hover {
                width: auto;

                &:before {
                    width: 0;
                    content: ' ';
                }
            }
        }
        
        .low .score {
            background-color: @brand-danger;
        }
        
        .medium .score {
            background-color: @brand-warning;
        }
    
        .high .score {
            background-color: @brand-success;
        }

        &.removable {
            padding-left: @remove-button-width + @list-item-horizontal-padding;
        }
    }

    &:first-child {
        .list-group-item {
            &:first-child {
                border-top: 0;
            }
        }
    }

    .remove-website {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: @remove-button-width;
    }
}